<!-- <div *ngFor = "let ticket of tickets">

   <a routerLink='/detail/{{ticket.id}}'>
        {{ticket.id}}
   </a>  -->

   <nz-list [nzDataSource]="tickets" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, span: 4 }">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent">
          <ng-template #nzContent>
              <a routerLink='/detail/{{item.id}}'>
                <nz-card [nzTitle]="item.id">
                    résolu par : {{item.resoluPar}}<br/>
                    priorité : {{item.priorite}}<br/>
                    durée : {{item.delai}} (hh:mm)
                  </nz-card>
              </a>
            <!-- <nz-card [nzTitle]="item.id">
              
            </nz-card> -->
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>

<!-- </div> -->